/* Import Roboto font */
@font-face {
    font-family: 'Spee-Reg'; /* Custom font name */
    src: url('../Restaur/fonts/Speedee-Regular.woff2') format('truetype'); /* Adjust path as needed */
    
}

/* Import Roboto font */
@font-face {
    font-family: 'Spee-Bold'; /* Custom font name */
    src: url('../Restaur/fonts/Speedee-Bold.woff2') format('truetype'); /* Adjust path as needed */
    
}






*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body,html{
    background-color: white;
    height: 100%;
    width: 100%;
    color: black;
    
}
/* 
#navbar{
    height: 5rem;
    display: flex;
    width: 100%;
    background-color: #fcb900;
    position:absolute;
    align-items: center;
}
#nav-items{
    font-size: 1.5rem;
    display: flex;
    padding: 2rem;
    position: relative;
    justify-content: space-between;
    left:55rem;
    align-items: center;

} */



#cards-box {
    width: 90%;
    margin: 5rem auto;
    display: grid;
    grid-template-rows: repeat(5, 600px);
    grid-template-columns: repeat(4, 325px);
    justify-content: center;
    gap:20px;
    justify-items: center;
    align-items: center;
   
}

.card {
    height: 32vw;
    width: 19rem;
    border: none;
    border-radius: 8px;
    margin-bottom: 2rem;
    padding: 10px 10px 10px 10px;
    /* background-color: rgb(23, 122, 208); */
    margin-bottom: 0.3rem; 
    margin-top: 7rem; 
    display: flex;
    flex-direction: column;
    align-items: center; /* Keeps the card content horizontally centered */
    box-shadow: 10px 10px 60px #abb8c37a;
    text-align: left; /* Aligns card details to the left */
}

.card:hover{
    box-shadow: 10px 10px 60px #abb8c3;
}

.card img {
    height: 22vw;
    width: 18rem;
    border: none;
    border-radius: 16px;
    /* background-color: crimson; */
    object-fit: cover;
    
}

.card-content {
    width: 100%; /* Makes the content take full width of the card */
    height: 40%;
    display: flex;
    flex-direction: column;
    line-height: 1.2rem;
    font-size: 1.2rem;
    align-items: flex-start; /* Aligns the text content to the left */
    /* background-color: antiquewhite; */
    
}

.cc-h3{
    height: 100%;
    width: 100%;
    padding-top: 1.2rem;
    font-size: 1.3rem;
    color: #ff6900;
    /* background-color: aqua; */
    font-family: Spee-Bold;
}

.price{
    height: 100%;
    width: 100%;
    padding-top: 0.5rem;
    color: #cf2e2e;
    font-size: 1.1rem;
    padding-bottom: 1rem;
    font-family: Spee-bold;
    /* background-color: rgb(23, 36, 211); */
}

.card-content span{
    height: 100%;
    width: 100%;
    color: #fcb900;
    font-size: 0.9rem;
    font-family: Spee-Reg;
    
    font-weight: 800;
    /* background-color: rgb(102, 191, 106); */
}

